<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ithome.presistence.mapper.BizFileMapper">
  <resultMap id="BaseResultMap" type="com.ithome.presistence.beans.BizFile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="storage_type" jdbcType="VARCHAR" property="storageType" />
    <result column="original_file_name" jdbcType="VARCHAR" property="originalFileName" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="full_file_path" jdbcType="VARCHAR" property="fullFilePath" />
    <result column="file_hash" jdbcType="VARCHAR" property="fileHash" />
    <result column="upload_type" jdbcType="VARCHAR" property="uploadType" />
    <result column="upload_start_time" jdbcType="TIMESTAMP" property="uploadStartTime" />
    <result column="upload_end_time" jdbcType="TIMESTAMP" property="uploadEndTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, storage_type, original_file_name, size, suffix, width, height, file_path, 
    full_file_path, file_hash, upload_type, upload_start_time, upload_end_time, create_time, 
    update_time
  </sql>
</mapper>